

body{
    background-attachment: rgb(247, 238, 238);
}

.logotipo{
    width: 100px;
}
.iconos-redes-sociales{
    width: 20px;
    margin: 10px 5px;
}

.carousel-caption{
    position: absolute;
    top: 40px;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 80px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
}
.main{
    margin-top: 20px;
}
 footer{
  
     background: #ccc;
     padding: 60px 0;
     text-align: center;
     padding-top: 20px;
     
 }
.logotipo-footer{
width: 100px;
margin-bottom: 20px;
 }

 .form2{
    background-color: #ffffff;
    margin: auto;
    width: 80%;
    max-width: 400px;
    padding: 2.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 /30%);
    text-align: center;
    margin-top: 40px;
}
.galeria{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 3em;
    grid-gap: 30px;
}
.item{
    background-color: #ffffff;
    cursor: pointer;
    transition: all 300ms;
    


}
.item-text{
    padding: 1em;
}
#txtgaleria{
    color: #1c274d;
    text-align: center;
    font-size: 40px;
    text-shadow: 3px 3px 2px #696;
}
.item:hover{
    transform: scale(1.05);
}
.item-text h3{
    text-shadow: -1px 0 rgb(159, 177, 159), 1px 0 #090, 0 1px #090, 0 -1px #090;
    color: #fff;
}
.item-text p{
    color: #F4A460;
    
}
.table-text{
    text-align: center;
    font-size: 18px;
    padding-top: 40px;
}
#card{

    margin-left: 10%;
    width: 80%;
    margin-top: 20px;
}
#card img{
    max-width: 48%;
    display: inline-block;
}
#message{
    display: inline-block;
    width: 48%;
    padding: 18px;
}
#cell{
    margin-left: 10%;
    width: 88%;
    margin-top: 20px;
}
#cell img{
    max-width: 48%;
    display: inline-block;
}
#content{
    display: inline-block;
    width: 48%;
    padding: 48px;

}


